include LICENSE
include README.md
include CHANGELOG.md
include CONTRIBUTING.md
recursive-include maintainers *.md
recursive-include architecture *.md
recursive-include tests *.py
global-exclude __pycache__ *.py[cod]
