#include <string>

#include "helpers.h"

// @SupernoteExport
double add(double left, double right) {
  return supernote_scale(left + right);
}

// @SupernoteExport
bool negate(bool value) {
  return !value;
}
