{
  "name": $NPM_NAME,
  "version": "$VERSION",
  "description": $DESCRIPTION,
  "main": "index.js",
  "react-native": "index.js",
  "types": "index.d.ts",
  "files": ["android", "index.js", "index.d.ts", "README.md", "react-native.config.js"],
  "peerDependencies": {"react": "*", "react-native": "*"}
}
