plugins { kotlin("jvm") }
dependencies {
  val annotationProject = rootProject.project(":$GRADLE_MODULE_NAME:native-annotation")
  implementation(annotationProject)
  implementation("com.google.devtools.ksp:symbol-processing-api:2.0.21-1.0.28")
}
kotlin { jvmToolchain(17) }
