module.exports = {
  dependency: {
    platforms: {
      android: {
        sourceDir: './android',
        packageImportPath:
          'import $NAMESPACE.generated.${CLASS_PREFIX}NativeModulePackage;',
        packageInstance: 'new ${CLASS_PREFIX}NativeModulePackage()',
      },
    },
  },
};
